DATABASE_NAME=your_database_name
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql+asyncpg://${USERNAME}:${PASSWORD}@localhost:5432/${DNAME}
ALEMBIC_DATABASE_URL=postgresql+psycopg://${USERNAME}:${PASSWORD}@localhost:5432/${DNAME}
SECRET_KEY=your_secret_key_for_creating_JWT_token
ALGORITHM=your_algorithm_name
