
DATABASE_NAME=appdatabase
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql+asyncpg://postgres:123456@localhost:5432/appdatabase
ALEMBIC_DATABASE_URL=postgresql+psycopg://postgres:123456@localhost:5432/appdatabase
